label{
    vertical-align: top;
}

textarea{
    background: #f0f0f0;
    border: 4px solid #696969;
    font-family: 'Times New Roman', Times, serif;
    height: 450px;
    width: 300px;
}

#mob_pc{
    width: 700px;
    height: auto;
    border: 4px solid #FF0000;
}

.embl{
    width: 100px;
    height: 150px;
    display: inline-block;
    vertical-align: middle;
}

#h1_1{
    border: 3px solid rgb(202, 8, 8) ;
    color: rgb(54, 11, 153);
    text-align: left;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: 500px;
    vertical-align: middle;
}

#header{
    text-align: center;
}

.input_pressure{
    display: block;
    
    margin: 5px;
}

.calculation {
    width: min-content;
    height: min-content;
}

.calculation:hover{
    box-shadow: 0px 0px 10px 5px rgba(7, 37, 170, 0.753); 
}

.left_bar{
    width: 350px;
    margin: 10px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

.right_magazine{
    width: 300px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

#button_start_timer{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#button_reached{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.label_centr{
    vertical-align: middle;
}

    