label{
    vertical-align: text-top;
}

.label_centr{
    vertical-align: middle;
}

.embl{
    width: 100px;
    height: 150px;
    position: absolute;
    top: 30px;
    right: 30px;
}

#header{
    border: 3px solid rgb(202, 8, 8) ;
    color: rgb(54, 11, 153);
    text-align: justify;
    margin: 10px;
    padding: 10px;
}

#magazine{
    background: #f0f0f0;
    border: 4px solid #696969;
    font-family: 'Times New Roman', Times, serif;
    height: 35em;
    width: 25em;
    
}

#t_general{
    color: black;
    margin: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

#right_bar{
    z-index: 10;
    position: relative; /* Абсолютное позиционирование */
    top: 25%;
    left: 30%; /* Положение от правого края */
    line-height: 1px;
    background: #f0f0f0;
    margin: 10px;
    padding: 10px;
    max-height: 50px;
    max-width: 500px;
    
}

#left_bar{
    z-index: 20;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;

    margin: 10px;
    padding: 10px;
    max-width: 300px;
    max-height: 300px;
}

#start_timer{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    min-width: 50px;
    min-height: 50px;
}

#reached{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    min-width: 100px;
    min-height: 100px;
}

@media  (max-width: 1080px)  {
    label{
        vertical-align: text-top;
    }

    #reached{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    #left_bar{
        z-index: 20;
        position: relative;
        font-family: 'Times New Roman', Times, serif;
    
        margin: 10px;
        padding: 10px;
        max-width: 200px;
        max-height: 200px;
    }

    #right_bar{
        z-index: 10;
        position: relative; /* Абсолютное позиционирование */
        top: 25%;
        left: 10%; /* Положение от правого края */
        line-height: 1px;
        background: #f0f0f0;
        margin: 10px;
        padding: 10px;
        max-height: 50px;
    max-width: 400px;
        
    }

    #magazine{
        background: #f0f0f0;
        border: 4px solid #696969;
        font-family: 'Times New Roman', Times, serif;
        height: 25em;
        width: 15em;
    }

}